<header>
    <div class="row bg-white">
        <div class="col-3">
            <a href="http://localhost:8888/lutin/">
                <img src="{{ asset('images/logo_cpam_indre.png') }}" class="float-start" alt="logo de l'assurance maladie de l'Indre">
            </a>

        </div>
        <div class="col-9 text-center p-2">
            <h1>Lutin</h1>
            <h2>Gestion des commissions paritaires des professionnels de santé</h2>
        </div>

    </div>

    <nav class="row bg-light py-3 mb-4">
        <div class="col-3 text-center"><a href="index.php?action=members" class="text-reset text-decoration-none">Les
                membres des commissions</a></div>
        <div class="col-3 border-end border-start border-dark text-center"><a href="index.php"
                                                                              class="text-reset text-decoration-none">Les
                commissions</a></div>
        {#
        if (!empty($_SESSION['email'])) {
        echo '<div class="col-3 text-center"><a href="index.php?action=logout" class="text-reset text-decoration-none">Se déconnecter :' . $_SESSION['profile'] .'</a></div>';
        } else {
        echo '<div class="col-3 text-center"><a href="index.php?action=login" class="text-reset text-decoration-none">Connexion</a></div>';
        }
        #}

        <div class="col-3 border-end border-start border-dark text-center"><a href="index.php?action=users"
                                                                              class="text-reset text-decoration-none">Les
                utilisateurs</a></div>


    </nav>
</header>