{% extends 'base.html.twig' %}

{% set page_title = "Réunion mise à jour" %}

{% block body %}
    <h1>Mise à jour d'une réunion</h1>

    {{ include('meeting/_form.html.twig') }} {# A modifier #}


{% endblock %}