{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<h1 class="fs-2 mb-3">Liste des commissions PS</h1>

    {# Exemple de déclaration de variable #}

<div class="conatiner">
    <div class="row">
        {% for commission in commissions %}
        <div class="col-12 col-md-3">
            <div class="card shadow-lg bg-body rounded m-1">
                {# <img src="{{ commission.url_img }}" class="card-img-top" alt="Photo représentant la profession"> #}
                <div class="card-body">
                    <h5 class="card-title">{{ commission.nickname }}</h5>
                    <p class="card-text">{{ commission.name }}</p>
                    {# <a href="{{ path() }}"></a> #}
                    <a href=#{# "index.php?action=commission&id=<?= htmlspecialchars($commission->commission_id) ?> " #} class="btn btn-primary my-2">Détail de la commission</a>
                    <a href=#{# "index.php?action=members_commission&id=<?= htmlspecialchars($commission->commission_id) ?>" #} class="btn btn-primary my-2">Liste des membres</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}