{% extends 'base.html.twig' %}

{% block title %}Commission{% endblock %}

{% block body %}
    <h1 class="fs-2 mb-3">{{ commission.nickname}}</h1>

    <div class="container">
        <div class="row">
            <!-- Présentation of commission -->

            <div class="col-12 col-md">
                <h3>Présentation de la commission</h3>
                <div class="card my-3" style="width: 25rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="fw-bold">Installée le :</span> {{ commission.installation_date }}</li>
                        <li class="list-group-item"><span class="fw-bold">Nombre de réunion par an : </span>{{ commission.frequency }}</li>
                        <li class="list-group-item"><span class="fw-bold">Président : </span>{{ commission.president }}</li>
                        <li class="list-group-item"><span class="fw-bold">Vice-président : </span>{{ commission.vice_president }}</li>
                        <li class="list-group-item"><span class="fw-bold">Régles d'alternance de la présidence : </span>{{ commission.alternation_rules }}</li>
                        <li class="list-group-item"><span class="fw-bold">Composition de la section sociale : </span>{{ commission.composition_social_section }}</li>
                        <li class="list-group-item"><span class="fw-bold">Composition de la section professionnelle : </span>{{ commission.composition_professionnal_section }}</li>
                    </ul>
                    <div class="card-footer"><a href="<?= htmlspecialchars($commission->url_agreement ?? "En cours"); ?>">Consulter la convention et les avenants</a></div>
                    <div class="card-footer"><a href="<?= htmlspecialchars($commission->url_invitation_template ?? "En cours"); ?>">Modèle de convocation</a></div>
                    <div class="card-footer"><a href="<?= htmlspecialchars($commission->url_minutes_template ?? "En cours"); ?>">Modèle de PV</a></div>
                </div>
            </div>

            <!-- List of meetings -->
            <div class="col-12 col-md">
                <div class="row">
                    <a href="index.php?action=add_meeting_form&id=<?= htmlspecialchars($commission->commission_id) ?>" class="btn btn-secondary m-3" style="width: 10rem;">Créer une réunion</a>
                </div>

                <h3>Liste des réunions</h3>
                {% for meetings in meeting %}
                <div class="card mb-3" style="max-width: 600px;">
                    <div class="row g-0">
                        <div class="col-md-2">
                            <img src="images/CercleBleuAM/CharteAM2021_PictoGenerique_CercleBleuAM_Plan de travail 27.png" class="img-fluid rounded-start" alt="image de calendrier">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h4 class="card-title">Le {{ meeting.meeting_date }}</h4>
                                <!--<p class="card-text">ODJ <?= htmlspecialchars($meeting->agenda) ; ?></p>-->

                                <p class="card-text">Président : {{ meeting.president }}</p>
                                <p class="card-text">Assistante : {{ meeting.assistant }}</p>
                                <p class="card-text">Date de préparation prévisionnelle : {{ meeting.ppd }}</p>
                                <p class="card-text">Date de préparation réelle : {{ meeting.rpd }}</p>
                                <p class="card-text">Date de la convocation : {{ meeting.invitation_date }}</p>
                                <p class="card-text">Statut du PV : {{ meeting.status_minutes }}</p>
                                <p class="card-text">Quorum :
                                    {% if meeting.quorum === 0 %}
                                    echo   "non atteint";
                                     {% else %}
                                    echo "atteint";
                                    {% endif %}
                                </p>

                                <?php if ($meeting->status_minutes == "En cours de rédaction" || "En cours de validation") { ?>
                                <a href="#" class="btn btn-primary" disabled>PV</a> <?php } else { ?>
                                <a href="#" class="btn btn-primary">PV</a> <?php } ?>

                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#listmb">Participants</button>
                                <a href="templates/edit_invitation.php" class="btn btn-primary">Convocation</a>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#odj">Ordre du jour</button>
                                <div class="modal fade" id="odj" tabindex="-1" aria-labelledby="odj" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="odj">Ordre du jour</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>{{ meeting.agenda }}</p>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <p class="card-footer"><a href="index.php?action=update_meeting&id=<?= htmlspecialchars($meeting->meeting_id) ; ?>">Modifier</a></p>

                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}